body {
    background-color: #FFFFFF; 
    margin: 30px;
}
p {
    margin: 30px;
    color: #091540;  
      font-size: 20px;
      font-family: "Verdana", "Tahoma", sans-serif;
}

h1 {
     margin: 10px;
      font-family: "Lucida Handwriting", cursive;
      color: #091540;
      text-align: left;
      font-size: 20px;
    }
h2 {
      color: #6D9DC5;
      text-align: center;
      font-size: 40px;
      font-family: "Lucida Handwriting", cursive;
    padding: 20px;
    }
h3 {
      margin: 30px;
      color: #091540;
      text-align: center;
      font-size: 40px;
      font-family: "Lucida Handwriting", cursive;
    }
h4 {
      margin: 30px;
      color: #FFFFFF;
      text-align: center;
      background-color: #091540;
      font-size: 30px;
      font-family: "Georgia", serif;
    }
li.classes {
    color: #091540;
    display: block;
    text-align: left;
    padding: 5px;
    font-size: 20px;
    font-family: "Georgia", serif; 
}

ul {
      margin: 0px;
      text-align: center;
}
li {
      color: #091540;
      list-style-type: none;
      display: inline;
      padding: 30px;
      font-size: 20px;
      font-family: "Lucida Handwriting", cursive;
}


dl {
    margin: 30px;
    text-align: left;
}
dt {
    color: #6D9DC5;
      list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
      font-size: 30px;
      font-family: "Lucida Handwriting", cursive;
}
dd {
    color: #091540;
      list-style-type: none;
      font-size: 20px;
      font-family: "Verdana", "Tahoma", sans-serif;
      display: run-in;
}
p.first {
    font-size: 20px;
    margin: 100px;
    padding-left: 50px;
    padding-top: 20px;
    
}
p.home {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 40px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    padding: 40px;
    background-color: #6D9DC5;
    text-align: center;
    max-width: 90%;
}
p.frontpage {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    margin: 40px;
    margin-left: 120px;
    margin-right: 120px;
    color: #091540;
    background-color: #FFECA4;
}
p.abouttext {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 20px;
    max-width: 90%;
    padding: 20px;
    text-align: left;
    background-color: #FFECA4;
    margin-left: 50px;
}
.portfolio {
    width: 500px;
  float: left;
  margin: 30px;
  height: auto;
    margin-left: 20%;
}
.portrait {
    width: 30%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    float: left;
}
.swing {
    max-width: 400px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 40px;
    float: left;
}
a {
    color: #6D9DC5;
}
a:hover {
      color: #dde0e3;
      text-decoration: none;
      font-size: 22px;
}
div.picandtext {
    max-height: 400px;
    max-width: 960px;
}
figcaption {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #091540;
    display: block;
    max-width: 40%;
    margin: 50px;
    margin-left: 40%;
    padding-top: 30px;
    margin-bottom: 40%;
    padding-left: 40px;
}
